.fondo {
    background-image: url("../../assets/img/AngularLogo.jpg");
    border-bottom-right-radius: 95%;
    height: 56em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 66px;
  }
  .div-login {
    margin-top: 18em;
    width: 33em;
    margin-left: 75em;
    border-radius: 2em;
    height: 28em;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }